body {
  font-size: 13px;
  line-height: 21px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Verdana, Geneva, sans-serif;
  color: #333333; }

.main {
  margin-top: 19px; }

a {
  color: #76c3d4; }

.delete-link {
  color: #f95d62; }

h1.page-title {
  font-size: 24px;
  color: #053964;
  margin-top: 0;
  margin-bottom: 19px; }

h2.page-title {
  font-size: 18px;
  color: #053964;
  margin-top: 0;
  margin-bottom: 19px; }

h5.page-title {
  font-size: 13px;
  color: #053964;
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: bold; }

.k-gantt-toolbar .k-state-default, .k-grid .k-grouping-header, .k-grid-header, .k-grid-header-wrap, .k-grouping-header .k-group-indicator, .k-header, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-wrap .k-textbox {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 0px solid #ddd;
  border-bottom-color: transparent;
  margin: 0;
  padding: 0; }

.k-panelbar .k-tabstrip-items .k-state-active, .k-tabstrip-items .k-state-active {
  padding: 5px;
  margin-bottom: -1px; }

.k-tabstrip-items .k-item {
  padding: 5px;
  margin-bottom: -1px; }

.k-item:hover {
  background-color: transparent; }

.breadcrumb-mod {
  background-color: #f3f3f3;
  padding: 1rem 0 1rem 0;
  margin-bottom: 19px; }

.breadcrumb {
  padding: 0px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px; }
  .breadcrumb a {
    color: #8e9090;
    font-weight: bold; }

.breadcrumb > li + li:before {
  color: #ccc;
  content: "> ";
  padding: 0 5px; }

.navbar {
  font-size: 13px;
  margin-bottom: 0;
  border: 0px;
  border-radius: 0;
  color: white; }

.navbar-inverse {
  background-color: #053964; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-inverse .navbar-nav > li > a:hover {
  opacity: .5; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #333333;
  background-color: white; }

.navbar-default {
  background-color: #f3f3f3;
  color: #333333; }

.navbar-brand img {
  width: 120px; }

.navbar-inverse .navbar-toggle {
  border-color: white;
  border-radius: 0; }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #ddd; }

.navbar-default .navbar-toggle {
  border-color: #ddd; }

#admin-nav .nav > li > a {
  position: relative;
  display: block;
  padding: 15px 10px; }

#header-mid .navbar-collapse {
  padding-left: 0;
  padding-right: 15px;
  border-top: 0px; }

@media (max-width: 768px) {
  #header-mid .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px; } }
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: white; }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    opacity: .5; } }
#header-mid .navbar {
  min-height: 0px;
  padding: 8px 0 8px 0; }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.well-white {
  background-color: white;
  margin-bottom: 0px; }

.well-bundle {
  background-color: #e4f3f7;
  padding: 10px; }

.well-grid {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 15px; }

.well-filter {
  background-color: #e4f3f7;
  margin-bottom: 15px; }
  .well-filter input, .well-filter select {
    margin-bottom: 10px; }

.btn {
  border-radius: 0;
  font-size: 13px; }

.btn-primary {
  background-color: #053964; }

.btn-default {
  background-color: #8e9090;
  color: white; }

.btn-default-c {
  color: #333;
  background-color: white;
  border-color: #ccc;
  font-size: 13px; }

.searchbtn {
  margin-left: 7px;
  background-color: #8e9090;
  font-size: 13px;
  color: white;
  width: 50px;
  height: 32px;
  border: none !important;
  line-height: 21px;
  border: 0px;
  font-weight: normal !important; }

.btn-default-a {
  color: #333;
  background-color: transparent;
  border-color: #ccc;
  border: none;
  font-size: 13px; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0px 0;
  border-radius: 0px; }

.pagination > li > a,
.pagination > li > span {
  color: #76c3d4; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.header-title {
  padding: 7.5px;
  background-color: #053964;
  color: white;
  margin-bottom: 0px; }

.contracted {
  position: absolute;
  top: 16px;
  left: 31px;
  background-color: white;
  padding: 2px 2px 3px 5px;
  z-index: 9; }

.medi {
  position: absolute;
  top: 16px;
  left: 31px;
  background-color: #f75d62;
  color: white;
  padding: 5px 10px 5px 10px;
  z-index: 9; }

.medi-small {
  position: absolute;
  top: 0px;
  left: 15px;
  background-color: #f75d62;
  color: white;
  padding: 3px 9px;
  z-index: 9; }

.medi-img img {
  padding: 5px;
  background-color: #f3f3f3; }

.img-border {
  padding: 5px;
  border: 1px solid #eee;
  background-color: white;
  width: 100%; }

.img-responsive {
  width: 100%; }

.contracted-icon {
  width: 16px; }

.togglebox-primo {
  padding: 1.25rem 1rem 1.25rem 1.25rem;
  margin-bottom: 5px;
  background-color: #e4f3f7;
  color: #76c3d4; }

.togglebox-primo .fa {
  font-size: 1.5em;
  position: absolute;
  margin-right: 1rem;
  left: -3rem; }

.togglebox-primo a {
  color: #76c3d4;
  position: relative;
  left: 3rem; }

.filters-a {
  background-color: #e4f3f7;
  padding: 15px;
  margin-bottom: 5px; }

.filters-b {
  margin-top: 5px; }

.label-default {
  background-color: #327091;
  text-align: center;
  color: white;
  border-radius: 0; }

.a-manager h1 {
  font-size: 16px;
  font-weight: bold;
  color: #053964;
  margin: 0px 0 5.5px 0;
  line-height: 16px; }

.a-manager h2 {
  font-size: 11px;
  font-style: italic;
  color: #053964;
  margin: 0 0 8px 0; }

.contact em {
  color: #f75d62; }

#dash .btn {
  margin-bottom: 15px;
  font-size: 11px;
  border-radius: 4px;
  text-transform: uppercase; }
  #dash .btn .fa {
    margin-top: 10px; }

#dash .btn-default {
  background-color: transparent;
  color: #333333;
  border: 1px solid #ddd; }

#dash .btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #ddd; }

h4 {
  font-size: 16px;
  line-height: 18px; }

.small {
  font-size: 11px;
  line-height: 16px; }

#grid-plan {
  padding-right: 8px;
  padding-left: 8px; }

.productName a {
  color: #053964;
  font-weight: bold;
  line-height: 19px; }

.productManufacture {
  font-style: italic;
  font-size: 11px;
  text-transform: uppercase; }

.priceTitle {
  color: #76c3d4; }

.smallFooter {
  height: 55px; }

.backorder {
  color: #f75d62; }

.h-solo {
  height: 50px; }

.spacer-top {
  margin-top: 5px; }

.spacer-bottom {
  margin-bottom: 5px; }

.spacer-xs {
  margin-bottom: 15px; }

.spacer-md {
  margin-bottom: 25px; }

.spacer-sm {
  margin-bottom: 6px; }

.spacer-lg {
  margin-bottom: 38px; }

.hr-xs {
  margin: 11px 0 11px 0; }

@media (max-width: 768px) {
  .sm-spacer-xs {
    margin-bottom: 8px; } }
h4.modal-title {
  color: #053964;
  font-size: 18px; }

@media (min-width: 1200px) {
  .modal-lg {
    width: 1170px; } }
.alert {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-success {
  color: #4ebd88;
  background-color: #dff0d9;
  border-color: #dff0d9; }

.alert-info {
  color: #bf53b6;
  background-color: #f5dcf0;
  border-color: #f5dcf0; }

.alert-warning {
  color: #ff6c2c;
  background-color: #ffdfd4;
  border-color: #ffdfd4; }

.alert-bundle {
  color: #76c3d4;
  background-color: #e6f4f7;
  border-color: #e4f3f7; }

.alert-danger {
  color: #f95d62;
  background-color: #ffe1dc;
  border-color: #ffe1dc; }

.alert-dismissable .close, .alert-dismissible .close {
  right: 0px; }

.form-control {
  display: block;
  width: 100%;
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.table {
  margin-bottom: 0px; }

.table > thead > tr > th {
  border-bottom: 1px solid #ddd;
  background-color: #053964;
  color: white;
  font-weight: normal; }

.td-img img {
  width: 60px; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 0px solid #ddd; }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped-a > tbody > tr:nth-child(odd) > td, tr.found {
  background-color: #f4f4f4; }

.table-stripedx > tbody > tr:nth-child(odd) > td,
.table-stripedx-a > tbody > tr:nth-child(odd) > td, tr.found {
  background-color: #e4f3f7; }

.table-center > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle; }

.main {
  min-height: 600px; }
  .main a {
    font-weight: bold;
    cursor: hand; }
  .main a:hover {
    text-decoration: none;
    opacity: 0.5; }
  .main .btn {
    border-radius: 0;
    font-size: 13px;
    border: none;
    font-weight: normal !important; }

.footer {
  font-size: 12px;
  padding: 19px 0 19px 0;
  background-color: #292f38;
  margin-top: 38px;
  color: #8e9090; }
  .footer a {
    color: #8e9090; }
  .footer .copyright {
    line-height: 30px; }
  .footer .nav-pills > li > a {
    border-radius: 0px;
    padding: 5px 10px;
    font-size: 12px; }
  .footer .nav-pills > li > a:hover {
    opacity: 0.5;
    background-color: transparent; }

/*
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
*/
