body {
  font-size: 13px;
  line-height: 21px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Verdana, Geneva, sans-serif;
  color: #333333; }

h1 {
  font-size: 26px;
  line-height: 31px; }

h3 {
  font-size: 18px;
  line-height: 16px;
  color: #053964; }

h4 {
  font-size: 16px;
  line-height: 18px; }

.form-group {
  margin-bottom: 5px; }

.alert {
  border-radius: 0px; }

.navbar-default {
  background-color: #f3f3f3; }

.navbar-default .navbar-nav > .active-white > a,
.navbar-default .navbar-nav > .active-white > a:focus,
.navbar-default .navbar-nav > .active-white > a:hover {
  color: white;
  background-color: #76c3d4; }

.breadcrumb {
  padding: 0px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px; }
  .breadcrumb a {
    color: #8e9090;
    font-weight: bold; }

.breadcrumb > li + li:before {
  color: #ccc;
  content: "> ";
  padding: 0 5px; }

.breadcrumb-mod {
  background-color: #f3f3f3;
  padding: 1rem 0 1rem 0;
  margin-bottom: 15px; }

.btn {
  border-radius: 0; }

.btn-primary {
  background-color: #053964; }

.btn-danger {
  background-color: #f75d62;
  font-size: 13px !important; }

.btn-success {
  background-color: #dff0d9;
  color: #4ebd88;
  font-size: 13px !important; }

.btn-success:hover {
  background-color: #dff0d9;
  color: #4ebd88;
  border-color: #398439; }

.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  background-color: #ccc;
  border-color: #8e9090; }

.btn-default-a {
  color: #333;
  background-color: transparent;
  border-color: #ccc;
  border: none;
  font-size: 13px; }

.btn-default-b {
  color: #333;
  background-color: white;
  border-color: #ccc;
  font-size: 13px; }

.btn-default-c {
  color: #333;
  background-color: white;
  border-color: #ccc;
  font-size: 13px; }

.btn-default-d {
  background-color: #8e9090;
  color: white; }

.btn-default-a:hover {
  opacity: 0.5; }

.btn-default-b:hover {
  opacity: 0.5; }

.offbtn {
  background-color: #ccd0d9;
  color: white;
  border: 0;
  border-color: white;
  height: 32px;
  font-size: 13px; }

.offbtn:hover {
  background-color: #ccd0d9;
  opacity: 0.5; }

.searchbtn {
  margin-left: 7px;
  background-color: #8e9090;
  font-size: 13px;
  color: white;
  width: 50px;
  height: 32px;
  border: none !important;
  line-height: 21px;
  border: 0px; }

.alert-success {
  color: #4ebd88;
  background-color: #dff0d9;
  border-color: #dff0d9; }

.alert-info {
  color: #bf53b6;
  background-color: #f5dcf0;
  border-color: #f5dcf0; }

.alert-warning {
  color: #ff6c2c;
  background-color: #ffdfd4;
  border-color: #ffdfd4; }

.alert-bundle {
  color: #76c3d4;
  background-color: #e6f4f7;
  border-color: #e4f3f7; }

.alert-danger {
  color: #f95d62;
  background-color: #ffe1dc;
  border-color: #ffe1dc; }

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }

.list-group {
  padding-left: 0;
  margin-bottom: 0px; }

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px 9px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 0px; }

.weird {
  height: 250px; }

.label-default {
  background-color: #327091;
  text-align: center;
  color: white;
  border-radius: 0; }

#col-total .total-tag {
  text-align: right;
  line-height: 3rem;
  color: #333; }

.fishes {
  position: absolute;
  top: 14px;
  left: 21px;
  background-color: white;
  padding: 2px 2px 3px 5px;
  z-index: 9; }

.fish {
  position: absolute;
  top: 0px;
  left: 7px; }

@media (min-width: 1200px) {
  .modal-lg {
    width: 1170px; } }
.panel {
  border-radius: 0px; }

#panel-admin .panel {
  border-radius: 0px; }
#panel-admin .panel-title {
  font-size: 13px;
  font-weight: bold; }

.dropdown-menu {
  font-size: 13px; }
  .dropdown-menu a {
    color: #76c3d4;
    font-weight: bold; }
  .dropdown-menu a:hover {
    opacity: 0.5;
    text-decoration: none; }

#grid-plan {
  padding-right: 8px;
  padding-left: 8px; }
  #grid-plan .col-lg-1, #grid-plan .col-lg-10, #grid-plan .col-lg-11, #grid-plan .col-lg-12, #grid-plan .col-lg-2, #grid-plan .col-lg-3, #grid-plan .col-lg-4, #grid-plan .col-lg-5, #grid-plan .col-lg-6, #grid-plan .col-lg-7, #grid-plan .col-lg-8, #grid-plan .col-lg-9, #grid-plan .col-md-1, #grid-plan .col-md-10, #grid-plan .col-md-11, #grid-plan .col-md-12, #grid-plan .col-md-2, #grid-plan .col-md-3, #grid-plan .col-md-4, #grid-plan .col-md-5, #grid-plan .col-md-6, #grid-plan .col-md-7, #grid-plan .col-md-8, #grid-plan .col-md-9, #grid-plan .col-sm-1, #grid-plan .col-sm-10, #grid-plan .col-sm-11, #grid-plan .col-sm-12, #grid-plan .col-sm-2, #grid-plan .col-sm-3, #grid-plan .col-sm-4, #grid-plan .col-sm-5, #grid-plan .col-sm-6, #grid-plan .col-sm-7, #grid-plan .col-sm-8, #grid-plan .col-sm-9, #grid-plan .col-xs-1, #grid-plan .col-xs-10, #grid-plan .col-xs-11, #grid-plan .col-xs-12, #grid-plan .col-xs-2, #grid-plan .col-xs-3, #grid-plan .col-xs-4, #grid-plan .col-xs-5, #grid-plan .col-xs-6, #grid-plan .col-xs-7, #grid-plan .col-xs-8, #grid-plan .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px; }

#row-con {
  padding-right: 11px;
  padding-left: 11px; }
  #row-con .col-lg-1, #row-con .col-lg-10, #row-con .col-lg-11, #row-con .col-lg-12, #row-con .col-lg-2, #row-con .col-lg-3, #row-con .col-lg-4, #row-con .col-lg-5, #row-con .col-lg-6, #row-con .col-lg-7, #row-con .col-lg-8, #row-con .col-lg-9, #row-con .col-md-1, #row-con .col-md-10, #row-con .col-md-11, #row-con .col-md-12, #row-con .col-md-2, #row-con .col-md-3, #row-con .col-md-4, #row-con .col-md-5, #row-con .col-md-6, #row-con .col-md-7, #row-con .col-md-8, #row-con .col-md-9, #row-con .col-sm-1, #row-con .col-sm-10, #row-con .col-sm-11, #row-con .col-sm-12, #row-con .col-sm-2, #row-con .col-sm-3, #row-con .col-sm-4, #row-con .col-sm-5, #row-con .col-sm-6, #row-con .col-sm-7, #row-con .col-sm-8, #row-con .col-sm-9, #row-con .col-xs-1, #row-con .col-xs-10, #row-con .col-xs-11, #row-con .col-xs-12, #row-con .col-xs-2, #row-con .col-xs-3, #row-con .col-xs-4, #row-con .col-xs-5, #row-con .col-xs-6, #row-con .col-xs-7, #row-con .col-xs-8, #row-con .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 4px;
    padding-left: 4px; }
  #row-con .btn,
  #row-con input,
  #row-con select {
    margin-bottom: 1rem; }
  #row-con .solo-label {
    padding-top: 5px;
    text-align: right; }
  @media (max-width: 600px) {
    #row-con .fullbtn {
      display: block;
      width: 100%; }
    #row-con .solo-label {
      text-align: left; } }

#row-con-a {
  padding-right: 15px;
  padding-left: 15px; }
  #row-con-a .col-lg-1, #row-con-a .col-lg-10, #row-con-a .col-lg-11, #row-con-a .col-lg-12, #row-con-a .col-lg-2, #row-con-a .col-lg-3, #row-con-a .col-lg-4, #row-con-a .col-lg-5, #row-con-a .col-lg-6, #row-con-a .col-lg-7, #row-con-a .col-lg-8, #row-con-a .col-lg-9, #row-con-a .col-md-1, #row-con-a .col-md-10, #row-con-a .col-md-11, #row-con-a .col-md-12, #row-con-a .col-md-2, #row-con-a .col-md-3, #row-con-a .col-md-4, #row-con-a .col-md-5, #row-con-a .col-md-6, #row-con-a .col-md-7, #row-con-a .col-md-8, #row-con-a .col-md-9, #row-con-a .col-sm-1, #row-con-a .col-sm-10, #row-con-a .col-sm-11, #row-con-a .col-sm-12, #row-con-a .col-sm-2, #row-con-a .col-sm-3, #row-con-a .col-sm-4, #row-con-a .col-sm-5, #row-con-a .col-sm-6, #row-con-a .col-sm-7, #row-con-a .col-sm-8, #row-con-a .col-sm-9, #row-con-a .col-xs-1, #row-con-a .col-xs-10, #row-con-a .col-xs-11, #row-con-a .col-xs-12, #row-con-a .col-xs-2, #row-con-a .col-xs-3, #row-con-a .col-xs-4, #row-con-a .col-xs-5, #row-con-a .col-xs-6, #row-con-a .col-xs-7, #row-con-a .col-xs-8, #row-con-a .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #053964;
    color: white;
    min-height: 37px; }
  #row-con-a .btn,
  #row-con-a select {
    margin-bottom: 1rem; }
  #row-con-a .solo-label {
    padding-top: 5px;
    text-align: right; }
  @media (max-width: 600px) {
    #row-con-a .fullbtn {
      display: block;
      width: 100%; }
    #row-con-a .solo-label {
      text-align: left; } }

#row-con-b {
  padding-right: 15px;
  padding-left: 15px; }
  #row-con-b .col-lg-1, #row-con-b .col-lg-10, #row-con-b .col-lg-11, #row-con-b .col-lg-12, #row-con-b .col-lg-2, #row-con-b .col-lg-3, #row-con-b .col-lg-4, #row-con-b .col-lg-5, #row-con-b .col-lg-6, #row-con-b .col-lg-7, #row-con-b .col-lg-8, #row-con-b .col-lg-9, #row-con-b .col-md-1, #row-con-b .col-md-10, #row-con-b .col-md-11, #row-con-b .col-md-12, #row-con-b .col-md-2, #row-con-b .col-md-3, #row-con-b .col-md-4, #row-con-b .col-md-5, #row-con-b .col-md-6, #row-con-b .col-md-7, #row-con-b .col-md-8, #row-con-b .col-md-9, #row-con-b .col-sm-1, #row-con-b .col-sm-10, #row-con-b .col-sm-11, #row-con-b .col-sm-12, #row-con-b .col-sm-2, #row-con-b .col-sm-3, #row-con-b .col-sm-4, #row-con-b .col-sm-5, #row-con-b .col-sm-6, #row-con-b .col-sm-7, #row-con-b .col-sm-8, #row-con-b .col-sm-9, #row-con-b .col-xs-1, #row-con-b .col-xs-10, #row-con-b .col-xs-11, #row-con-b .col-xs-12, #row-con-b .col-xs-2, #row-con-b .col-xs-3, #row-con-b .col-xs-4, #row-con-b .col-xs-5, #row-con-b .col-xs-6, #row-con-b .col-xs-7, #row-con-b .col-xs-8, #row-con-b .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    color: #8e9090; }
  #row-con-b .btn,
  #row-con-b select {
    margin-bottom: .5rem; }
  #row-con-b .solo-label {
    padding-top: 5px;
    text-align: right; }
  @media (max-width: 600px) {
    #row-con-b .fullbtn {
      display: block;
      width: 100%; }
    #row-con-b .solo-label {
      text-align: left; } }

.table {
  margin-bottom: 4px; }

.table-xs > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 0px solid #ddd; }

.table > thead > tr > th {
  border-bottom: 1px solid #ddd;
  background-color: #053964;
  color: white;
  font-weight: normal; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped-a > tbody > tr:nth-child(odd) > td,
tr.found {
  background-color: #f4f4f4; }

.table-stripedx > tbody > tr:nth-child(odd) > td,
.table-stripedx-a > tbody > tr:nth-child(odd) > td,
tr.found {
  background-color: #e4f3f7; }

tr.found {
  background-color: #f4f4f4; }

.price {
  text-align: center;
  font-weight: bold !important;
  text-transform: uppercase; }

.qty {
  width: 125px; }
  .qty input {
    margin-bottom: .75rem; }

.bundle {
  background-color: #e4f3f7; }
  .bundle thead {
    background-color: #76c3d4;
    color: white;
    font-weight: normal; }

.tr-bundle {
  background-color: #e4f3f7; }

.td-img {
  width: 10%; }

.td-product {
  width: 24%; }

.td-item {
  width: 11%; }

.td-ndc {
  width: 12%; }

.td-unit {
  width: 8%; }

.td-size {
  width: 8%; }

.td-qty {
  width: 12%;
  text-align: center; }
  .td-qty input, .td-qty .btn {
    margin-bottom: .5rem; }

.td-price {
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold; }

.td-nopadbundle {
  background-color: #f1ddf0 !important;
  padding: 1.5rem; }

/* TOGGLEBOX */
.togglebox {
  padding: 1.25rem 1rem 1.25rem 1.25rem;
  margin-bottom: 2rem;
  border-bottom: 0px solid #eee;
  background-color: #fee2d6;
  color: #ff6c2c; }
  .togglebox a {
    color: #ff6c2c;
    position: relative;
    left: 3rem; }
  .togglebox .fa {
    font-size: 1.5em;
    position: absolute;
    margin-right: 1rem;
    left: -3rem; }

.togglebox-primo {
  padding: 1.25rem 1rem 1.25rem 1.25rem;
  margin-bottom: 5px;
  background-color: #e4f3f7;
  color: #76c3d4; }
  .togglebox-primo a {
    color: #76c3d4;
    position: relative;
    left: 3rem; }
  .togglebox-primo .fa {
    font-size: 1.5em;
    position: absolute;
    margin-right: 1rem;
    left: -3rem; }

#clinician .physician {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: .25rem;
  color: #333; }
#clinician .idnumber {
  font-style: italic;
  font-size: 11px;
  color: #333; }
#clinician input {
  margin-bottom: 1rem; }

.message-clinician {
  color: #c551b4; }
  .message-clinician span {
    font-weight: bold;
    text-transform: uppercase; }

.error-clinician {
  color: #ff6c2c;
  margin-bottom: 1rem; }

.title-mod h1 {
  font-size: 24px;
  margin: 3px 0 0 0;
  color: #053964; }

.filters-a {
  background-color: #e4f3f7;
  padding: 15px;
  margin-bottom: 5px; }

/* Footer */
.footer {
  font-size: 12px !important;
  padding: 3rem;
  margin-top: 50px;
  background-color: #292f38;
  font-size: 12px;
  color: #8e9090; }
  .footer a {
    color: #8e9090; }
  .footer .nav-pills > li > a {
    border-radius: 0px;
    padding: 5px 10px;
    font-size: 12px; }
  .footer .nav-pills > li > a:hover {
    opacity: 0.5;
    background-color: transparent; }
  .footer .copyright {
    line-height: 30px; }

main {
  /* Colors & Singles */ }
  main a {
    font-weight: bold; }
  main a:focus,
  main a:hover {
    text-decoration: none; }
  main a:hover {
    text-decoration: none;
    opacity: 0.5; }
  main .delete-link {
    color: #f95d62; }
  main #message-links a {
    color: #76c3d4; }
  main .table-primary .panel {
    border-radius: 0; }
  main .table-primary .panel-heading {
    font-size: 16px;
    color: #8e9090;
    padding: 16px;
    font-weight: bold; }
  main .table-primary .panel-footer {
    border-top: 1px solid #ddd; }
  main .table-primary .table > tbody > tr > td,
  main .table-primary .table > tbody > tr > th,
  main .table-primary .table > tfoot > tr > td,
  main .table-primary .table > tfoot > tr > th,
  main .table-primary .table > thead > tr > td,
  main .table-primary .table > thead > tr > th {
    padding: 17px 15px 17px 15px; }
  main .table-primary .table > thead > tr > th {
    padding: 7px 15px;
    font-weight: normal !important;
    border-bottom: 1px solid #ddd !important;
    background-color: white;
    color: #8e9090; }
  main .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 0px; }
    main .pagination a {
      color: #76c3d4; }
  main .pagination > li:first-child > a,
  main .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  main .pagination > li:last-child > a,
  main .pagination > li:last-child > span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  main .pager li > a,
  main .pager li > span {
    border-radius: 0px; }
  main .a-manager h1 {
    font-size: 16px;
    font-weight: bold;
    color: #053964;
    margin: 0px 0 5.5px 0;
    line-height: 16px; }
  main .a-manager h2 {
    font-size: 11px;
    font-style: italic;
    color: #053964;
    margin: 0 0 8px 0; }
  main #filter h1, main #filter h2, main #filter h3, main #filter h4, main #filter h5, main #filter h6 {
    color: #333;
    font-size: 16px;
    font-weight: bold; }
  main #filter h1 {
    margin-top: 0rem;
    margin-bottom: 0px; }
  main #filter h3 {
    margin-bottom: 1.5rem; }
  main #filter #pills .btn {
    font-size: 11px; }
  main #filter .spacer-x {
    height: 30px; }
  main .primary {
    color: #053964; }
  main .btn {
    border-radius: 0;
    font-size: 13px;
    border: none; }
  main .btn:hover {
    opacity: 0.5; }
  main .btn-default {
    background-color: #8e9090;
    color: white; }
  main a {
    color: #76c3d4; }

.form-control {
  border-radius: 0px !important;
  color: #333333;
  font-size: 13px;
  height: 32px; }

.table-title-backorder a {
  color: #f75d62 !important;
  font-weight: bold;
  text-transform: uppercase; }

.productName a {
  color: #053964;
  font-weight: bold;
  line-height: 19px; }

.productManufacture {
  font-style: italic;
  font-size: 11px;
  text-transform: uppercase; }

.productManufacture-lg {
  font-style: italic;
  font-size: 16px;
  text-transform: uppercase; }

.featuredTitle {
  color: #053964;
  font-style: italic; }

.priceTitle {
  color: #76c3d4; }

.priceTitle-lg {
  color: #76c3d4;
  font-size: 16px; }

.h-solo {
  margin-top: 5px;
  padding: 0;
  height: 50px; }

.headernopad {
  margin-top: 0;
  margin-bottom: 0; }

hr {
  margin-top: 22px;
  margin-bottom: 22px; }

.hr-xs {
  margin: 11px 0 11px 0; }

.hr-md {
  margin: 10px 0 13px 0; }

.small {
  font-size: 11px;
  line-height: 16px; }

.small-pro {
  font-size: 13px;
  line-height: 19px; }

.well {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.well-grid {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 13px 19px 19px 19px; }

.well-ghost {
  margin-bottom: 10px;
  background-color: transparent;
  border: 0px solid #e3e3e3;
  border-radius: 0px;
  padding: 19px 0 19px 0; }

.well-white {
  background-color: white;
  margin-bottom: 0px; }

.well-filter {
  background-color: #e4f3f7;
  margin-bottom: 15px; }
  .well-filter .form-control {
    margin-bottom: 15px; }

.img-border {
  padding: .75rem;
  border: 1px solid #eee;
  background-color: white;
  width: 100%; }

.img-border-lg {
  padding: 19px;
  border: 1px solid #eee;
  background-color: white;
  width: 100%; }

.backorder {
  color: #f75d62;
  text-transform: uppercase; }

.smallFooter {
  height: 55px; }

.img-responsive {
  width: 100%; }

.shimmy {
  margin-bottom: 5px; }

.shimmy-lg {
  margin-bottom: 10px;
  margin-top: 10px; }

.shimmy-top {
  margin-top: 5px; }

.spacer-xs {
  margin-bottom: 15px; }

.spacer-md {
  margin-bottom: 25px; }

.spacer-lg {
  margin-bottom: 45px; }

.spacer-xl {
  margin-bottom: 40px; }

/* Navbar */
.navbar {
  border-radius: 0;
  border: 0; }

.navbar-nav {
  margin: 0px 0px; }

.navbar-collapse.collapse {
  display: block !important; }

.navbar-nav > li,
.navbar-nav {
  float: left !important; }

.navbar-nav.navbar-right:last-child {
  margin-right: 0px !important; }

.navbar-right {
  float: right !important; }

@media (max-width: 990px) {
  .navbar-nav > li > a {
    line-height: 18px; }

  .nav > li > a:focus,
  #header-banner-1 .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent !important;
    color: #eee; } }
#header-banner-1 .navbar {
  border-radius: 0;
  margin-bottom: 0; }
#header-banner-1 .navbar-inverse {
  background-color: #053964; }
  #header-banner-1 .navbar-inverse .navbar-nav > li > a {
    color: white; }
#header-banner-1 .nav > li > a:focus,
#header-banner-1 .nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  color: #777777; }
#header-banner-1 .navbar-brand img {
  width: 120px; }
@media (max-width: 990px) {
  #header-banner-1 .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto; }
    #header-banner-1 .navbar-brand img {
      margin: 0 auto; } }
@media (max-width: 768px) {
  #header-banner-1 .navbar-nav {
    margin-top: 5px; } }
#header-banner-1 .navbar-toggle-menu {
  position: relative;
  float: left;
  padding: 4px;
  margin-top: 9px;
  margin-left: 0px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 4px; }
#header-banner-1 .navbar-toggle-cart {
  position: relative;
  float: right;
  padding: 4px;
  margin-top: 9px;
  margin-right: 0px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 4px; }

#header-banner-2 .navbar {
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 0; }
#header-banner-2 .nav > li > a {
  position: relative;
  display: block;
  /* padding: 15px 15px;  */ }
#header-banner-2 .nav-pills > li > a {
  border-radius: 0px; }
#header-banner-2 .nav-pills > li.active > a,
#header-banner-2 .nav-pills > li.active > a:focus,
#header-banner-2 .nav-pills > li.active > a:hover {
  color: #337ab7;
  background-color: white;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee; }
#header-banner-2 .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  border-top: 0px; }
#header-banner-2 .navbar-form {
  padding: 0; }
@media (max-width: 768px) {
  #header-banner-2 .navbar-form {
    padding: 0px 15px;
    border-top: 0px;
    border-bottom: 0px; }
  #header-banner-2 .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px; } }

#modalbox .panel .panel-heading {
  font-size: 13px !important;
  padding: 10px 17px 10px 17px; }
#modalbox .addtocart {
  display: none; }

#offcanvas-nav .panel-default > .panel-heading {
  color: #333;
  background-color: white;
  border-color: #ddd; }
#offcanvas-nav .panel {
  box-shadow: none;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0; }
#offcanvas-nav .panel-group {
  margin-bottom: 0px; }
#offcanvas-nav .panel-title {
  font-size: 16px; }
#offcanvas-nav .panel-body {
  padding: 0; }
#offcanvas-nav .list-group-item {
  padding: 6px 15px;
  border: 1px solid #ddd;
  border-right: 0px;
  border-left: 0px; }
#offcanvas-nav .list-indent .list-group-item {
  padding: 6px 15px 6px 25px; }
#offcanvas-nav .container-1 .form-control {
  color: #555;
  background-color: transparent !important;
  background-image: none;
  border: 0px solid #ccc !important;
  box-shadow: none; }
#offcanvas-nav .list-group-item:first-child {
  border-top: 0px; }
#offcanvas-nav .list-group .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom: 0px; }
#offcanvas-nav .list-group-item:last-child {
  margin-bottom: 0; }
#offcanvas-nav #accordion .panel-heading {
  padding: 0; }
#offcanvas-nav #accordion .panel-title > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #76c3d4;
  font-weight: normal; }
#offcanvas-nav #according .panel-title > a:hover {
  color: #bbbdc0 !important; }
#offcanvas-nav #accordion .panel-title > a.accordion-toggle::before,
#offcanvas-nav #accordion a[data-toggle="collapse"]::before {
  content: "\e082";
  float: left;
  font-family: 'Glyphicons Halflings';
  margin-right: 1em;
  font-size: 16px;
  margin-top: 2px; }
#offcanvas-nav #accordion .panel-title > a.accordion-toggle.collapsed::before,
#offcanvas-nav #accordion a.collapsed[data-toggle="collapse"]::before {
  content: "\e081"; }
#offcanvas-nav .panel-group .panel + .panel {
  margin-top: 0px !important; }

.div-scroll {
  height: 300px;
  overflow: scroll;
  padding: 0px 15px 0px 15px;
  text-transform: uppercase;
  margin-bottom: 10px; }

.div-scroll-lg {
  height: 500px;
  overflow: auto;
  padding: 0px 15px 0px 15px; }

.nopadhead {
  margin-top: 0px;
  margin-bottom: 0px; }

@media (max-width: 768px) {
  #col-total .total-tag {
    text-align: center; }

  #col-total .btn {
    font-size: 11px; } }
.nav-tabs > li > a {
  border-radius: 0px 0px 0 0; }

.secondary-tabs .nav-tabs > li.active > a {
  color: #555;
  cursor: default;
  border: 0px solid #ddd;
  background-color: #f3f3f3;
  border-bottom-color: transparent;
  font-weight: normal;
  border-bottom: 2px solid #76c3d4; }

.secondary-tabs .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  border: 0px solid #ddd;
  background-color: #f3f3f3;
  border-bottom-color: transparent;
  font-weight: normal;
  border-bottom: 2px solid #76c3d4; }

.secondary-tabs .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  border: 0px solid #ddd;
  background-color: #f3f3f3;
  border-bottom-color: transparent;
  font-weight: normal;
  border-bottom: 2px solid #76c3d4; }

.secondary-tabs .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0px 0px 0 0;
  font-weight: normal; }

.secondary-tabs .nav-tabs {
  border-bottom: 1px solid #f3f3f3; }

select {
  width: 100%; }

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: .5; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  color: #333 !important;
  background-color: #eee; }


.sticky {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999999;
  padding-bottom: 10px;
}